doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.min.css")
    link(href="https://fonts.googleapis.com/css?family=Itim|Pacifico" rel="stylesheet")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    title "Hello Kate"
  body
    .jumbotron.jumbotron-fluid.header.d-flex.mb-0
      .container.align-self-center
        h1 Hello Kate
        p Lorem Ipsum Dolor Sit Amet
    .container-fluid.bg-welcome    
      .container.welcome.d-flex.py-5
        .row.align-items-center
          .col-md-8
            h2 Welcome
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quibusdam, ex illum, magnam numquam explicabo harum dolores. Veniam excepturi consectetur fugiat perferendis. Sint facilis beatae, architecto nisi dolores aperiam eligendi?
            p Excepturi eius, quibusdam ipsa dicta adipisci alias rem dolore voluptatibus aliquid fuga temporibus sit nam debitis maxime eos ratione accusantium dolor nemo magni, corporis cupiditate sunt labore! Id non, sed.
          .col-md-4
            p
              .embed-responsive.embed-responsive-16by9.rounded
                iframe(src='https://gfycat.com/ifr/AncientBelovedDairycow?controls=0')
    .container-fluid.bg-theme
      .container       
        .row.text-center.feature.py-5
          .col-12
            h2 Feature
          .col-md-4
            h3
              i.fas.fa-venus
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vitae, praesentium mollitia facilis eaque quod laudantium libero itaque.
          .col-md-4
            h3
              i.fas.fa-heart
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vitae, praesentium mollitia facilis eaque quod laudantium libero itaque.
          .col-md-4
            h3
              i.fas.fa-mobile-alt
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vitae, praesentium mollitia facilis eaque quod laudantium libero itaque.  
    p.small.text-center.py-3.mb-0 &copy; 2018  
