$theme-font:'Pacifico', cursive;
$standard-font: 'Itim', cursive;
$main-color: #e03bb8;
$second-color: #fff;
$normal-color: #1d9bc3;
$icon-size: 4rem;
$text-large: 6rem;
$text-big: 3rem;
$text-medium: 1.7rem;
$text-normal:1.2rem;
$screen-height: 50vh;

p{
  font-family: $standard-font;
  color: $normal-color;
  font-size: $text-normal;
}
h1,
h2{
  color: $main-color;
  font-family: $theme-font;
}
h2{
  font-size: $text-big;
}

.header{
  background: url("../img/ku01.png") no-repeat 70%, url("../img/header-bg.jpg") no-repeat center;
  background-size: contain, cover;
  height: $screen-height;
  text-shadow: -2px 2px 0px rgba(255, 255, 255, 0.6);
  h1{
    font-size: $text-large;
  }
  p{
    font-size: $text-medium;
    color: $main-color;
  }
}
@media (min-width:1672px){
    .bg-welcome{
      background: url(../img/leaves01.png) no-repeat left, url(../img/leaves02.png) no-repeat right;
      background-size: contain;
    .welcome{
    }
  }
}
.bg-theme{
  background: $main-color;
  color: $second-color;
}
.feature{
  h3 {
    font-size: $icon-size;
  }
  h2,
  p{
    color: $second-color;
  }
}
